@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logos-track {
  display: flex;
  gap: 2rem; /* Adjust the spacing between logos */
  animation: scroll 30s linear infinite; /* Adjust duration for speed */
  width: max-content; /* Prevent wrapping */
}

.logo-item {
  flex-shrink: 0;
  font-size: 1.25rem; /* Adjust size for logo text or images */
  color: gray;
  white-space: nowrap;
}

/* Hide scrollbars but still allow scrolling */
.no-scrollbar {
  scrollbar-width: none;
  overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-off {
  overflow: hidden;
}

.mantine-Select-dropdown .mantine-Select-option[data-checked="true"] {
  background: var(--brand-bg-theme);
  color: #171717;
  opacity: 1;
  font-weight: 600;
}

.mantine-Select-dropdown .mantine-Select-option[data-checked="true"] svg {
  color: #171717;
  opacity: 1;
}

.mantine-Select-option:hover {
  background-color: rgb(161 161 170 / var(--tw-bg-opacity, 1)) !important;
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}

.section_steps {
  position: relative;
}

.rotate-height {
  height: 100vh;
  position: relative;
}

.giant-circle-hold {
  aspect-ratio: 1;
  flex: none;
  width: 107rem;
  transform: translate(-80%);
}

.sticky-hold {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.giant-circle {
  border: 1px solid #27272a;
  border-radius: 100%;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.steps {
  justify-content: center;
  align-items: center;
  width: 1px;
  display: flex;
  position: absolute;
}

.steps.step2 {
  inset: auto 8% 18% auto;
  transform: rotate(30deg);
}

.steps.step3 {
  inset: auto 29% 0% auto;
  transform: rotate(60deg);
}

.circle-dot {
  aspect-ratio: 1;
  background-color: #0f0f0f;
  border-radius: 100%;
  flex: none;
  width: 2.9375rem;
}

.steps-content {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.steps-hold {
  width: 2.9375rem;
}

.steps-container {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: #f2eee3;
  border-radius: 2.5rem;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
  display: flex;
}

.big-number {
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 1;
  color: #171717;
}

.step-text-block {
  flex: none;
  max-width: 13.625rem;
}

.steps-button-hold-bottom {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: auto 0% 5rem;
}

.animate-wave {
  animation: waveAnimation 8s infinite linear;
}

.portfoliov4_logos-gradient {
  background-image: linear-gradient(90deg, #fbf0c9 22%, #0000);
  width: 30%;
  height: 100%;
  position: absolute;
  left: -1px;
}

.portfoliov4_logos-gradient.is-right {
  background-image: linear-gradient(270deg, #fbf0c9 22%, #0000);
  left: auto;
  right: -1px;
}

.wave1 {
  animation: waveMove 10s infinite ease-in-out alternate;
}
.wave2 {
  animation: waveMove 10s infinite ease-in-out alternate-reverse;
}
@keyframes waveMove {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateX(5px);
  } /* Moves Left */
  50% {
    transform: translateY(15px);
  } /* Moves Up */
  100% {
    transform: translateY(0px);
  } /* Moves Back Down */
}

@media screen and (min-width: 1440px) {
  .giant-circle-hold {
    /* transform: translate(-59%); */
  }
}
@media screen and (min-width: 1920px) {
  .giant-circle-hold {
    /* transform: translate(-40%); */
  }
}
@media screen and (max-width: 991px) {
  .giant-circle-hold {
    transform: translate(-89%);
  }
  .steps-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .giant-circle-hold {
    transform: translate(-89%);
  }

  .circle-dot {
    width: 1.46875rem;
  }
  .steps-content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .steps-hold {
    width: 1.46875rem;
  }

  .steps-container {
    text-align: center;
    flex-flow: column;
    max-width: 10rem;
    padding: 1rem;
  }
  .steps.step2 {
    inset: auto 5% 18% auto;
    transform: rotate(30deg);
  }

  .steps.step3 {
    inset: auto 22.5% 0% auto;
    transform: rotate(60deg);
  }
}
@media screen and (max-width: 479px) {
  .giant-circle-hold {
    transform: translate(-92%);
  }

  .steps.step2 {
    inset: auto 8% 18% auto;
    transform: rotate(30deg);
  }

  .steps.step3 {
    inset: auto 29% 0% auto;
    transform: rotate(60deg);
  }
}

.checkerboard-bg {
  height: 100%;

  width: 100%;

  background: conic-gradient(
    #fafafa 90deg,

    #fff 90deg 180deg,

    #fafafa 180deg 270deg,

    #fff 270deg
  );

  background-repeat: repeat;

  background-size: 60px 60px;

  background-position: top left;
}

.checkerboard-bg-dark {
  height: 100%;

  width: 100%;

  background: conic-gradient(
    #3f3f46 90deg,

    #27272a 90deg 180deg,

    #3f3f46 180deg 270deg,

    #27272a 270deg
  ) !important;

  background-repeat: repeat;

  background-size: 60px 60px;

  background-position: top left;
}

.dark {
  .dark\:checkerboard-bg-dark {
    height: 100%;

    width: 100%;

    background: conic-gradient(
      #3f3f46 90deg,

      #27272a 90deg 180deg,

      #3f3f46 180deg 270deg,

      #27272a 270deg
    ) !important;

    background-repeat: repeat !important;

    background-size: 60px 60px !important;

    background-position: top left;
  }
}

@keyframes subtlePremiumGlow {
  0% {
    box-shadow: 0px 0px 4px rgba(255, 215, 0, 0.4),
      0px 0px 1px rgba(255, 215, 0, 0.3),
      inset 0px 0px 2px rgba(255, 215, 0, 0.2);
    filter: drop-shadow(0px 0px 20px rgba(255, 215, 0, 0.3));
  }
  100% {
    box-shadow: 0px 0px 30px rgba(255, 215, 0, 0.6),
      0px 0px 15px rgba(255, 215, 0, 0.5),
      inset 0px 0px 20px rgba(255, 215, 0, 0.4);
    filter: drop-shadow(0px 0px 40px rgba(255, 215, 0, 0.5));
  }
}
