@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logos-track {
  display: flex;
  gap: 2rem; /* Adjust the spacing between logos */
  animation: scroll 30s linear infinite; /* Adjust duration for speed */
  width: max-content; /* Prevent wrapping */
}

.logo-item {
  flex-shrink: 0;
  font-size: 1.25rem; /* Adjust size for logo text or images */
  color: gray;
  white-space: nowrap;
}

/* Hide scrollbars but still allow scrolling */
.no-scrollbar {
  scrollbar-width: none;
  overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-off {
  overflow: hidden;
}

.mantine-Select-dropdown .mantine-Select-option[data-checked="true"] {
  background: var(--brand-bg-theme);
  color: #171717;
  opacity: 1;
  font-weight: 600;
}

.mantine-Select-dropdown .mantine-Select-option[data-checked="true"] svg {
  color: #171717;
  opacity: 1;
}

.mantine-Select-option:hover {
  background-color:  rgb(161 161 170 / var(--tw-bg-opacity, 1)) !important;
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}
