@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GRIFTER Bold";
  src: url("assets/fonts/grifterbold.ttf");
}

:root {
  line-height: 1.5;
  font-weight: 400;
  --black: #2c2c2c;
  --dark-yellow: #d6a701;
  --main-yellow: #f7d046;
  --light-grey: #e9f0f1;
  --white: white;
  --blue: #302dd7;
  --error-red: #e72f3c;
  --blue-hover: #211fb9;
  --turquoise: #82e5ce;
  --custom-gray: #c4c4c4;
  --white-smoke: #f2f2f2;
  --brand-bg-theme: linear-gradient(
    62deg,
    #fbab7e 0%,
    #ffd580 50%,
    #ffc676 100%
  );
  --brand-main-bg: #f9f8f5;
  --brand-light-orange: #fbab7e;
  --brand-sec-gradient: linear-gradient(
    0deg,
    rgba(255, 125, 0, 1) 0%,
    rgba(255, 95, 109, 1) 100%
  );
  --brand-bg-light: #fbf0c9;
  --brand-dark-orange: #f79046;
  --darkest-orange: #f05a2a;
  --brand--light-yellow: #ffd580;
  --brand-dark-yellow: #ffab00;
  --brand-mid-yellow: rgb(255, 213, 128);
  --brand-divider-color: "#fbf0c9";
  --brand-lightest-bg: "#F2EEE3";
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  color: var(--black);
  background-color: #f9f8f5;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  margin: 0;
  letter-spacing: 0.025em;
}

.bg-light-app {
  background-color: lighten(var(--brand-main-bg), 20%);
}

body:has(.scroll-off) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Wix Madefor Display", sans-serif;
}
@keyframes bounce {
  50% {
    transform: scale(0.9);
  }
}
.bouncing {
  animation: bounce 0.4s ease-in-out;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-wix {
  font-family: "Wix Madefor Display", sans-serif;
}

* {
  scrollbar-color: #ececec transparent;
}
